body {
      font-family: Arial, sans-serif;
      background: #fff;
      color: #222;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      padding: 80px 20px;
    }
    .profile-img img {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    h1 {
      font-size: 32px;
      margin: 20px 0 10px;
      font-family: math;
    }
      h2 {
    font-weight: 100;
      }
    p {
      font-size: 16px;
      line-height: 1.6;
      margin: 0 auto 20px;
      max-width: 600px;
    }
    strong {
      font-weight: bold;
    }
    .social-icons {
      margin: 20px 0;
    }
    .social-icons a {
      display: inline-block;
      margin: 0 8px;
      font-size: 24px;
      color: #222;
      text-decoration: none;
      transition: transform 0.2s, color 0.2s;
    }
    .social-icons a:hover {
      transform: scale(1.2);
      color: #0b69ff;
    }
    .disclaimer {
      margin-top: 20px;
      font-style: italic;
      font-size: 14px;
      color: #444;

    }



